html {
  font-size: 10px;
  background: url("./background.jpeg") bottom center;
  background-size: cover;
}
.keys {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex: 1;
}
kbd {
  display: block;
  font-size: 4rem;
}
.key {
  margin: 1rem;
  font-size: 2rem;
  border: 4px solid black;
  padding: 1rem 0.5rem;
  border-radius: 4px;
  transition: all 0.07s ease;
  color: white;
  cursor: pointer;
  width: 10rem;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}
.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #ffc600;
}
